.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  @apply grid items-center justify-center min-h-screen px-20 gap-16 font-sans;
  grid-template-rows: 20px 1fr 20px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  @apply flex flex-col gap-8 row-start-2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  @apply flex gap-4;
}

.ctas a {
  @apply flex items-center justify-center rounded-full cursor-pointer text-base font-medium transition-colors;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

/* Footer */
.footer {
  @apply flex gap-6 row-start-3;
}

.footer a {
  @apply flex items-center gap-2;
}

.footer img {
  @apply flex-shrink-0;
}

/* Hovers só em dispositivos que suportam */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

/* Responsivo */
@media (max-width: 600px) {
  .page {
    @apply px-8 pb-20;
  }

  .main {
    @apply items-center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    @apply flex-col;
  }

  .ctas a {
    @apply text-sm h-10 px-4;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    @apply flex-wrap items-center justify-center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}